Source: sddm-theme-lxqt-frost
Maintainer: Alf Gaida <agaida@siduction.org>
Uploaders: Hendrik Lehmbruch <hendrikl@siduction.org>
Section: x11
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8
Vcs-Browser: http://github.com/lxlive/sddm-theme-lxqt-frost
Vcs-Git: https://github.com/lxlive/sddm-theme-lxqt-frost
Homepage: https://github.com/lxlive/sddm-theme-lxqt-frost

Package: sddm-theme-lxqt-frost
Architecture: all
Depends: ${misc:Depends},
         lxqt-common,
         qml-module-qtgraphicaleffects,
         qml-module-qtquick-controls
Recommends: sddm
Provides: sddm-theme
Description: lxqt-frost theme for sddm
 LXQt "Frost" sddm theme.
 .
 This package contain a sddm theme.
